// colors
$white: #fff;
$yellow: #f4d501;
$light-dark-blue: #1b4859;
$midle-dark-blue: #0b3342;
$light-gray: #efefef;

// font-weight
$lightFont: 300;
$regularFont: 400;
$boldFont: 700;
$extraBoldFont: 800;
